manifest {
  description = 'Private docker test'
}

process {
  container = 'martinsos/edlib-private@sha256:5e5c3c8642d8d9e5e0887cd39eaccfe41b3d412ffc3a6c2e148d5d4c0f264e00'
}

profiles {
  s3test {
    params.reads = "s3://cbcrg-eu/ggal/*_{1,2}.fq"
    params.annot = "s3://cbcrg-eu/ggal/ggal_1_48850000_49020000.bed.gff"
    params.genome = "s3://cbcrg-eu/ggal/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
  }
}
